* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding-bottom: 350px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --font-family: 'Lato', sans-serif;
}

.navIcon {
  font-size: 18px;
  margin-right: 6px;
}

.images__result-grid {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 2%;
  row-gap: 1%;
  justify-content: center;
}

.images__result-grid_item img {
  width: 100%;
}

@media  screen and (max-width: 480px) {
  .navIcon {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .images__result-grid {
    grid-template-columns: 30.67% 30.67% 30.67%;
    column-gap: 2%;
    row-gap: 4%;
  }
}

@media screen and (min-width: 600px) {
  .images__result-grid {
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    column-gap: 2%;
  }
}

@media screen and (min-width: 1024px) {
  .images__result-grid {
    grid-template-columns: 17.6% 17.6% 17.6% 17.6% 17.6%;
    column-gap: 2%;
  }
}
